[Unit]
Description=Air Quality Python logging script
After=network.target

[Service]
Type=simple
User=piair
ExecStart=/usr/bin/python3 /home/piair/airqread.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
